name: stable
on:
  schedule:
    - cron: '0 12 * * *' # everyday at noon
  push:
    branches:
      - 'stable'
  pull_request:
    branches:
      - 'stable'

jobs:
  docker:
    name: 'Stable Build'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: 'actions/checkout@v2'

    - name: Login to DockerHub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v1
      with:
        username: clux
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Check if we need a new stable
      shell: bash
      run: |
        pip3 install --user toml
        if python3 check_stable.py; then
          echo "NEEDS_STABLE=1" >> $GITHUB_ENV
        fi
    - name: Build stable image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: false
        tags: clux/muslrust:temp
      #if: ${{ env.NEEDS_STABLE }} == '1'

    - name: Compute tags
      shell: bash
      run: |
        docker run clux/muslrust:temp rustc --version
        RUST_VER="$(docker run clux/muslrust:temp rustc --version | grep -oE "[[:digit:]]+\.[[:digit:]]+\.[[:digit:]]")"
        RUST_DATE="$(date +"%Y-%m-%d")"
        RUST_CHANNEL=stable
        echo "TAG1=clux/muslrust:${RUST_CHANNEL}" >> $GITHUB_ENV
        echo "TAG2=clux/muslrust:${RUST_VER}-${RUST_CHANNEL}" >> $GITHUB_ENV
        echo "TAG3=clux/muslrust:${RUST_VER}" >> $GITHUB_ENV
      if: ${{ env.NEEDS_STABLE }} == '1'

    - name: Echo tags
      shell: bash
      run: |
        echo $TAG1
        echo $TAG2
        echo $TAG3

    #- name: Run tests
    #  shell: bash
    #  if: ${{ env.NEEDS_STABLE }} == '1'
    #  run: make test

    #- name: Push image under computed tags
    #  uses: docker/build-push-action@v2
    #  #if: ${{ env.NEEDS_STABLE }} == '1'
    #  with:
    #    context: .
    #    push: ${{ github.event_name != 'pull_request' }}
    #    tags: ${{ env.TAG1 }},${{ env.TAG2 }},${{ env.TAG3 }}
